body {
  font-family: 'Josefin Sans', sans-serif;
  width: 1300px;
  margin: 40px auto;
}

h1 {
  color: #15768c;
  font-weight: 700;
}

p, a {
  color: #778284;
  font-weight: 400;
}

<style> input = position:relative; left: 1000px; bottom: 700px </style>

/*input {*/
/*  margin: 175px auto; !important;*/
/*}*/