body {
  font-family: 'Josefin Sans', sans-serif;
  width: 1300px;
  margin: 50px auto;
}

h1 {
  color: #15768c;
  font-weight: 700;
}

p, a {
  color: #778284;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
}

.y-slider {
	position: relative;
	left: 1000px;
	top: -655px;
}


/*input {*/
/*  position: relative;*/
/*  margin-left: 1000px;*/
/*  margin-bottom: 650px;*/
/*}*/


/*input {*/
/*  margin: 175px auto; !important;*/
/*}*/

/*input {*/
/*  position: relative;*/
/*  margin-left: 1000px;*/
/*  margin-bottom: 650px;*/
/*  !important;*/
/*}*/